@media (max-width: 1112px){
    .full_width {
        width: 100%;
        margin: auto;
        max-width: 100%;
    }
    .blog_left_content {
       
       
        padding-left: 20px;
        width: 67%;
    }
    .blog_right_content {
       
        padding-right: 20px;
    }
    .footer_left {
       
        padding-left: 20px;
        box-sizing: border-box;
    }
    .footer_right {
        
        padding-right: 20px;
        box-sizing: border-box;
    }
    .header_left {
      
        padding-left: 20px;
        box-sizing: border-box;
    }
    .header_right {
        
        padding-right: 20px;
        box-sizing: border-box;
    }
}
@media (max-width: 1104px){
    .full_width {
        width: 100%;
        margin: auto;
        max-width: 100%;
      
    }
    .service_section {
        width: 29.3%;
       
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media (max-width: 998px){
    .blog_right_content h2 {
        font-size: 25px;
       
        
    }
    .blog_right_content ul li {
       
        padding: 4px;
       
        font-size: 17px;
        margin-bottom: 19px;
    }
    .service_section h1 {
        font-size: 24px;
       
    }
}
@media (max-width: 835px){
    .header_left {
      
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .header_right {
      
        width: 100%;
        line-height: 40px;
    }

    .header_right ul {
        text-align: center;
    }
    
    .banner_item h2 {
      
        font-size: 31px;
        max-width: 425px;
        
        
        padding: 9px 0;
    }
    
    .banner_item h3 {
        
        font-size: 25px;
       
        
    }
    .banner {
       
        padding: 150px 0;
        
    }
    .header_right ul li a {
       
       
        padding: 0 17px;
        line-height: 50px;
       
    }
   
    

}

@media (max-width: 750px){
    .service_section {
        width: 96%;
       margin-bottom: 20px;
       margin-top: 20px;
    }
    .blog_left_content {
       
        width: 93%;
    }
    .blog_right_content {
      
        width: 91%;
    }
    .footer_left {
       
        width: 100%;
        text-align: center;
    }
    .footer_right {
      margin-top: 10px;
        width: 100%;
    }
    .social_menu {
        text-align: center;
    }

}

@media (max-width: 595px){
    .header_right ul li {
       
        border-right: none;
    }
    .header_right ul li a {
        font-size: 18px;
        padding: 0px 17px;
    }
    .banner {
       
        padding: 120px 0;
        
    }
    
    
    
}

@media (max-width: 490px){
    .header_right ul li a {
        font-size: 18px;
        padding: 0px 8px;
        line-height: 42px;
    }

    .header_left {
       
        padding: 15px 0;
    }
    .header_right {
        padding-right: 0px;
        box-sizing: border-box;
    }
    .banner {
       
        padding: 80px 0;
        
    }
    .banner_item h3 {
        font-size: 15px;
    }
    .banner_item h2 {
        font-size: 18px;
        max-width: 250px;
        padding: 9px 0;
        margin-top: 15px
    }
    .about_title p {
      
        font-size: 16px;
    }
}